.experience {
   margin-top: 180px;
}    

.experience-head {
   align-items: center;
}   


.experience-achievements {
   display: block;
   width: 1fr;
   clear: both;

   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50px;
   font-weight: bold;
   text-shadow: 7px 7px 4px #2e2e2e;
   color: rgb(250, 250, 250);
}

.achievements-grid {

   margin-top: 50px;

   padding: 20px;

   margin-left: 100px;
   margin-right: 100px;

   background-color: #845BB3;

   border-radius: 10px;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 40px;
   row-gap: 40px;
}

.achievement-thumbnail:hover {
   transition: opacity 0.55s;
   opacity: 0.5;
}

.achievement-thumbnail {
   display: block;
   margin-left: auto;
   margin-right: auto;

   width: 100%;

   max-width: 250px;
   max-height: 250px;
   
   object-fit: contain;
}

.achievement-name {
   margin-top: 20px;
   text-align: center;
   font-size: 20px;
   color: rgb(250, 250, 250);

   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
.achievement-info {
   margin-top: 10px;

   text-align: center;
   font-size: 22px;
   color: rgb(250, 250, 250);

   font-family: Arial, Helvetica, sans-serif;
   font-style: italic;

}

.achievements-container {
   display: flex;
   justify-content: center;
}
