.nav-bar {
    z-index: 2;
    overflow: hidden;
    background-color: #845BB3;
    display: flex;
    height: 100px;

    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
}

.nav-bar a:hover {
    transition: opacity 0.15s;
    opacity: 0.5;
}

.nav-bar a {
    color: rgb(250, 250, 250);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
}
.left-section {
    display: flex;
    align-items: center;
    flex: 1;

    margin-left: 10px;
    margin-right: 10px;
}

.ssicon {
    margin-bottom: 10px;
    margin-left: 10px;
    height: 50px;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;

    background-color: rgb(0, 59, 114);
    border-radius: 2px;
    padding: 8px;

    margin-top: 16px;
    margin-left: 20px;

    opacity: 0.8;

    text-shadow: 2px 2px #000000;

    color: white;
}
.right-section {
    display: flex;
    align-items: center;
    margin-right: 25px;
    width: 400px;
}

.home-button {
    margin-right: 10px;
}

.experience-button {
    margin-right: 10px;
}
.showcase-button {
    margin-right: 10px;
}

.blog-button {
    font-weight: bold;
    background-color: rgb(0, 59, 114);
    padding: 8px;

    margin-right: 15px;

    text-shadow: 2px 2px #000000;
}

.home {
    color: white;
    margin-top: 100px;
}